version: 2.1

ruby_env: &ruby_env
  working_directory: ~/repo
  environment:
    BUNDLE_JOBS: 4
    BUNDLE_RETRY: 3
    BUNDLE_PATH: vendor/bundle
    RACK_ENV: test
    RAILS_ENV: test
    RUBY_VERSION: <<parameters.ruby-version>>
  docker:
    - image: circleci/ruby:<<parameters.ruby-version>>

executors:
  ruby_2_4:
    <<: *ruby_env
    parameters:
      ruby-version:
        type: string
        default: "2.4.9"
  ruby_2_5:
    <<: *ruby_env
    parameters:
      ruby-version:
        type: string
        default: "2.5.8"
  ruby_2_6:
    <<: *ruby_env
    parameters:
      ruby-version:
        type: string
        default: "2.6.6"
  ruby_2_7:
    <<: *ruby_env
    parameters:
      ruby-version:
        type: string
        default: "2.7.1"

commands:
  pre-setup:
    steps:
      - add_ssh_keys
      - checkout
  bundle-install:
    steps:
      - run:
          name: "Install bundler 1.17.3"
          command: |
            echo 'export BUNDLER_VERSION=1.17.3' >> $BASH_ENV
            source $BASH_ENV
            gem install bundler:1.17.3
      - restore_cache:
          keys:
            - gem-cache-{{ arch }}-{{ .Branch }}-{{ checksum "Gemfile.lock" }}
            - gem-cache-{{ arch }}-{{ .Branch }}
            - gem-cache
      - run: bundle check --path vendor/bundle || bundle install --path vendor/bundle
      - save_cache:
          key: gem-cache-{{ arch }}-{{ .Branch }}-{{ checksum "Gemfile.lock" }}
          paths:
            - vendor/bundle
  rspec-unit:
    parameters:
      additional_args:
        type: string
        default: ""
      glob:
        type: string
        default: ""
    steps:
      - run: mkdir ~/rspec
      - run:
          name: "Run rspec tests"
          command: |
            TESTFILES=$(circleci tests glob "spec/**/*_spec.rb" | circleci tests split --split-by=timings)
            echo "Running: ${TESTFILES}"
            bundle exec rspec --format progress --format RspecJunitFormatter -o ~/rspec/rspec.xml <<parameters.additional_args>> -- ${TESTFILES}
          when: always
      - store_test_results:
          path: ~/rspec
  bundle-audit:
    parameters:
      additional_args:
        type: string
        default: ""
    steps:
      - run: bundle exec bundle-audit update
      - run: bundle exec bundle-audit check -v <<parameters.additional_args>>
  rubocop:
    steps:
      - run: bundle exec rubocop -p
  e2e:
    steps:
      - run: ./script/e2e

jobs:
  bundle-audit:
    executor: <<parameters.e>>
    parameters:
      e:
        type: executor
        default: "ruby_2_6"
    steps:
      - pre-setup
      - bundle-install
      - bundle-audit
  rubocop:
    executor: <<parameters.e>>
    parameters:
      e:
        type: executor
        default: "ruby_2_6"
    steps:
      - pre-setup
      - bundle-install
      - bundle-audit
  rspec-unit:
    executor: <<parameters.e>>
    parameters:
      e:
        type: executor
        default: "ruby_2_6"
    steps:
      - pre-setup
      - bundle-install
      - rspec-unit
  e2e:
    executor: <<parameters.e>>
    parameters:
      e:
        type: executor
        default: "ruby_2_6"
    steps:
      - pre-setup
      - bundle-install
      - e2e

workflows:
  version: 2
  ruby_2_4:
    jobs:
      - bundle-audit:
          name: "ruby-2_4-bundle_audit"
          e: "ruby_2_4"
      - rubocop:
          name: "ruby-2_4-rubocop"
          e: "ruby_2_4"
      - rspec-unit:
          name: "ruby-2_4-rspec"
          e: "ruby_2_4"
      - e2e:
          name: "ruby-2_4-e2e"
          e: "ruby_2_4"
  ruby_2_5:
    jobs:
      - bundle-audit:
          name: "ruby-2_5-bundle_audit"
          e: "ruby_2_5"
      - rubocop:
          name: "ruby-2_5-rubocop"
          e: "ruby_2_5"
      - rspec-unit:
          name: "ruby-2_5-rspec"
          e: "ruby_2_5"
      - e2e:
          name: "ruby-2_5-e2e"
          e: "ruby_2_5"
  ruby_2_6:
    jobs:
      - bundle-audit:
          name: "ruby-2_6-bundle_audit"
          e: "ruby_2_6"
      - rubocop:
          name: "ruby-2_6-rubocop"
          e: "ruby_2_6"
      - rspec-unit:
          name: "ruby-2_6-rspec"
          e: "ruby_2_6"
      - e2e:
          name: "ruby-2_6-e2e"
          e: "ruby_2_6"
  ruby_2_7:
    jobs:
      - bundle-audit:
          name: "ruby-2_7-bundle_audit"
          e: "ruby_2_7"
      - rubocop:
          name: "ruby-2_7-rubocop"
          e: "ruby_2_7"
      - rspec-unit:
          name: "ruby-2_7-rspec"
          e: "ruby_2_7"
      - e2e:
          name: "ruby-2_7-e2e"
          e: "ruby_2_7"
