version: 2.1

orbs:
  code-climate: bigcommerce/internal-codeclimate@volatile

ruby_env: &ruby_env
  working_directory: ~/repo
  environment:
    BUNDLE_JOBS: 4
    BUNDLE_RETRY: 3
    BUNDLE_PATH: vendor/bundle
    RACK_ENV: test
    RAILS_ENV: test
    RUBY_VERSION: <<parameters.ruby-version>>
  docker:
    - image: cimg/ruby:<<parameters.ruby-version>>

gem_cache_key: &gem_cache_key
  gem_cache_key: "gem-cache-v2"

executors:
  ruby_2_7:
    <<: *ruby_env
    parameters:
      ruby-version:
        type: string
        default: "2.7"
  ruby_3_0:
    <<: *ruby_env
    parameters:
      ruby-version:
        type: string
        default: "3.0"
  ruby_3_1:
    <<: *ruby_env
    parameters:
      ruby-version:
        type: string
        default: "3.1"
  ruby_3_2:
    <<: *ruby_env
    parameters:
      ruby-version:
        type: string
        default: "3.2"
  ruby_3_3:
    <<: *ruby_env
    parameters:
      ruby-version:
        type: string
        default: "3.3"

commands:
  pre-setup:
    steps:
      - add_ssh_keys
      - checkout
  bundle-install:
    parameters:
      gem_cache_key:
        type: string
        default: "gem-cache-v2"
      grpc_ruby_build_procs:
        type: integer
        default: 4
    steps:
      - restore_cache:
          keys:
            - <<parameters.gem_cache_key>>-{{ arch }}-{{ .Branch }}-{{ checksum "Gemfile.lock" }}
            - <<parameters.gem_cache_key>>-{{ arch }}-{{ .Branch }}
            - <<parameters.gem_cache_key>>
      - run:
          name: "bundle install"
          command: |
            export GRPC_RUBY_BUILD_PROCS=<<parameters.grpc_ruby_build_procs>>
            # due to needing GRPC_RUBY_BUILD_PROCS, we need to explicitly install at least this version
            gem install grpc -v '>= 1.48' --verbose --no-document
            bundle config set --local path 'vendor/bundle'
            bundle lock --add-platform x86_64-linux
            bundle check || bundle install
            bundle clean
      - save_cache:
          key: <<parameters.gem_cache_key>>-{{ arch }}-{{ .Branch }}-{{ checksum "Gemfile.lock" }}
          paths:
            - vendor/bundle
  rspec-unit:
    parameters:
      additional_args:
        type: string
        default: ""
      glob:
        type: string
        default: ""
      code-climate:
        type: boolean
        default: false
    steps:
      - run: mkdir ~/rspec
      - when:
          condition: <<parameters.code-climate>>
          steps:
            - code-climate/setup
      - run:
          name: "Run rspec tests"
          command: |
            TESTFILES=$(circleci tests glob "spec/**/*_spec.rb" | circleci tests split --split-by=timings)
            echo "Running: ${TESTFILES}"
            bundle exec rspec --format progress --format RspecJunitFormatter -o ~/rspec/rspec.xml <<parameters.additional_args>> -- ${TESTFILES}
          when: always
      - when:
          condition: <<parameters.code-climate>>
          steps:
            - code-climate/store-report:
                coverage-format: "simplecov"
            - code-climate/sum-coverage
            - code-climate/after-build:
                coverage-format: "simplecov"
      - store_test_results:
          path: ~/rspec
  bundle-audit:
    parameters:
      additional_args:
        type: string
        default: ""
    steps:
      - run: bundle exec bundle-audit update
      - run: bundle exec bundle-audit check -v <<parameters.additional_args>>
  rubocop:
    steps:
      - run: bundle exec rubocop -P
  e2e:
    steps:
      - run: ./script/e2e

jobs:
  bundle-audit:
    executor: <<parameters.e>>
    parameters:
      e:
        type: executor
        default: "ruby_3_0"
    steps:
      - pre-setup
      - bundle-install:
          <<: *gem_cache_key
      - bundle-audit
  rubocop:
    executor: <<parameters.e>>
    parameters:
      e:
        type: executor
        default: "ruby_3_0"
    steps:
      - pre-setup
      - bundle-install:
          <<: *gem_cache_key
      - rubocop
  rspec-unit:
    executor: <<parameters.e>>
    parameters:
      e:
        type: executor
        default: "ruby_3_0"
      code-climate:
        type: boolean
        default: false
    steps:
      - pre-setup
      - bundle-install:
          <<: *gem_cache_key
      - rspec-unit:
          code-climate: <<parameters.code-climate>>
  e2e:
    executor: <<parameters.e>>
    parameters:
      e:
        type: executor
        default: "ruby_3_0"
    steps:
      - pre-setup
      - bundle-install:
          <<: *gem_cache_key
      - e2e

workflows:
  version: 2
  ruby_2_7:
    jobs:
      - bundle-audit:
          name: "ruby-2_7-bundle_audit"
          e: "ruby_2_7"
      - rubocop:
          name: "ruby-2_7-rubocop"
          e: "ruby_2_7"
      - rspec-unit:
          name: "ruby-2_7-rspec"
          e: "ruby_2_7"
          code-climate: false
      - e2e:
          name: "ruby-2_7-e2e"
          e: "ruby_2_7"
  ruby_3_0:
    jobs:
      - bundle-audit:
          name: "ruby-3_0-bundle_audit"
          e: "ruby_3_0"
      - rubocop:
          name: "ruby-3_0-rubocop"
          e: "ruby_3_0"
      - rspec-unit:
          name: "ruby-3_0-rspec"
          e: "ruby_3_0"
          code-climate: true
      - e2e:
          name: "ruby-3_0-e2e"
          e: "ruby_3_0"
  ruby_3_1:
    jobs:
      - bundle-audit:
          name: "ruby-3_1-bundle_audit"
          e: "ruby_3_1"
      - rubocop:
          name: "ruby-3_1-rubocop"
          e: "ruby_3_1"
      - rspec-unit:
          name: "ruby-3_1-rspec"
          e: "ruby_3_1"
          code-climate: false
      - e2e:
          name: "ruby-3_1-e2e"
          e: "ruby_3_1"
  ruby_3_2:
    jobs:
      - bundle-audit:
          name: "ruby-3_2-bundle_audit"
          e: "ruby_3_2"
      - rubocop:
          name: "ruby-3_2-rubocop"
          e: "ruby_3_2"
      - rspec-unit:
          name: "ruby-3_2-rspec"
          e: "ruby_3_2"
          code-climate: false
      - e2e:
          name: "ruby-3_2-e2e"
          e: "ruby_3_2"
